.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url("../src/brewing_espresso.jpeg");
  background-size: cover;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

ul {
  padding-left: 0;
  list-style-type: none;
  list-style-position: inside;
}

nav {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  min-height: 5vh;
  margin-top: 1em;
  margin-bottom: 1em;
}